body {
    font-family: 'Times New Roman', Times, serif;

}
.hidden {
    display: none;
}
.show {
    display: "";
}

.HsL {
    position: fixed;
    top: 10px;
    left: 10px;
    font-size: 100%;
}

.countdown {
    position: fixed;
    top: 40px;
    right: 15px;
    font-size: 150%;
}
.quiz {
    margin: 150px auto 0 auto;
    max-width: 700px;
    font-size: 160%;
}

ol {
    padding-left: 0px;
    max-height: 400px;
    overflow: auto;
}
li {
    padding: 5px;
    list-style: decimal inside none;
}
button {
    text-align: center;
    margin:5px;
    cursor: pointer;
    font-size: 100%;
    background-color: blue;
    border-radius: 10px;
    padding: 5px 50px;
    color: white;   
    border: 0;
}

button:hover {
    background-color: rgb(128, 128, 255);
}

.answers button {
    display: block;
}
.reset button {
    display: block;
    padding: 2px;
}
.eval {
    font-size: 120%;
    margin-top: 20px;
    padding-top: 10px;
    color: black;
    border-top: 5px solid white;

}

